* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 360px;
    background:darkgreen;
    box-shadow:  10px 20px rgba(179, 179, 179, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name{
    color: white;
}
.section p {
    color: white;
    font-size: 0.7rem;
    font-style: italic;
}

.firstBox {
    position: relative;
    height: 170px;
    padding-top: 1rem;
}

.image {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 100%;
    height: 120px;
    border-radius: 10%;
    z-index: -1;
    opacity: 2;    
}

.bubbleOne {
    background: url("theRock.jpg");
    background-size: cover;
    background-position: center;
}

.bubbleTwo{
    margin-top: 160px;
    margin-left: 190px;
    width: 50px;
    height: 50px;
    background: url("DALogo2.jpg");
    background-size: cover;
    border-radius: 50%;
    
}

.profilePic {
    position: relative;
    width: 70px;
    height: 70px;
    background: #FFF;
    border-radius: 25px;
}

.profilePic:after, .profilePic:before {
    content: "";
    position: absolute;
}

.profilePic:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("Azreal2.JPG");
    border-radius: 25px;
    transform: scale(0.9); 
}

.profilePic:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    background: darkgreen;
    
    z-index: -1;
    border-radius: 27px;
}

.secondBox {
    height: 160px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.1rem;
}

.aboutHeader {
    width: 100%;
}

.links a {
    color: #BFBFBF;
    padding: 0.4rem 0.9rem;
    font-size: 1.2rem;
    transition: 0.3s;
    border: 1px solid transparent;
}

.links a:hover {
    color: black;
    border-color: black;
    border-radius: 50%;
}

